<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note_edit</title>
	<link rel="stylesheet" href="../public/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="../public/css/bootstrap.css" />
	<link rel="stylesheet" href="../public/css/main.css" />
	<link rel="stylesheet" href="../public/css/reset.css">
	<script src="../public/js/bootstrap.js"></script>
	<script src="../public/js/jquery-3.1.1.js"></script>
</head>
<body>
  <!-- header -->
   <div id="wrapNav">
   	 <div class="top_nav">
   	 	<div class="left_zone fl">
   	 		<div class="logo fl"><a href="../index.html"></a></div>
   	 		<div class="searchBox fl">
   	 				<label for="search"></label>
   	 				<input type="text" id="search"/> 
   	 		</div>
   	 	</div>
   	 	<div class="right_zone fr clearfix">
   	 		<ul>
   	 			  <li><a href="signin.html">登录</a></li>
          <li><a href="signup.html">注册</a></li>
          <li><a href="../index.html">首页</a></li> 
   	 		</ul>
   	 	</div>
   	 </div>
   </div>
<div id="main">
<!-- 主体左半部分 -->
<div class="left_main fl clearfix">
<!-- 左侧部分 	 -->
   <div class="note_edit clearfix">
   	 <div class="note_edit_captain">
   	 	<div class="note_edit_text fl"><a href="../index.html">V2EX</a><a href="#">/记事本</a><span>/新建记事</span>
      </div>   	
   	 </div>
   	 <div class="note_edit_content clearfix">
         <textarea name="note_edit" id="note_edit" cols="100" rows="15"></textarea>
         <div class="note_edit_content_option"></div>
         <div class="note_edit_content_save"></div>
   	 </div>
   </div>
</div>
	 <!-- 主体右半部分 -->
  <div class="right_main fr clearfix">
      <div class="note_right">
	 	<div class="note_count">
	 		<span>文件数</span><strong>0</strong>
	 	</div>
	 		<div class="note_discuess">
	 			<a href="#" onclick="">讨论 V2EX 的记事本功能</a>
	 		</div>
	 	</div>
  </div>
</div>
<br/><br/><br/>
<!-- 底部footer区域 -->
<div id="footer">
  	<div class="partner">
  		<ul>
  			<li><a>关于</a><strong>.</strong></li>
  			<li><a>FAQ</a><strong>.</strong></li>
  			<li><a>API</a><strong>.</strong></li>
  			<li><a>我们的愿景</a><strong>.</strong></li>
  			<li><a>广告投放</a><strong>.</strong></li>
  			<li><a>鸣谢</a><strong>.</strong></li>
  			<li><b>2032 人在线</b></li>
  			<li><b>最高记录 2447</b></li><strong>.</strong>
  		</ul>
  	</div>
  	<div class="copyright">
  	<strong>创意工作者们的社区</strong><br/><br/>
  	<strong>World is powered by solitude</strong><br/><br/><br/>
  	<b>VERSION: 3.9.7.5 · 25ms · UTC 02:06 · PVG 10:06 · LAX 18:06 · JFK 21:06</b><br/><br/>
  	<b>♥ Do have faith in what you're doing.</b><br/>
  	</div>
  	<div class="info"><a href="#">沪ICP备16043287号-1</a></div>
  	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>
</body>
</html>