<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>signup</title>
	<link rel="stylesheet" href="../public/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="../public/css/bootstrap.css" />
	<link rel="stylesheet" href="../public/css/main.css" />
	<link rel="stylesheet" href="../public/css/reset.css">
	<script src="../public/js/bootstrap.js"></script>
	<script src="../public/js/jquery-3.1.1.js"></script>
</head>
<body>
  <!-- header -->
   <div id="wrapNav">
   	 <div class="top_nav">
   	 	<div class="left_zone fl">
   	 		<div class="logo fl"><a href="../index.html"></a></div>
   	 		<div class="searchBox fl">
   	 				<label for="search"></label>
   	 				<input type="text" id="search"/> 
   	 		</div>
   	 	</div>
   	 	<div class="right_zone fr clearfix">
   	 		<ul>
   	 			 <li><a href="signin.html">登录</a></li>
              <li><a href="signup.html">注册</a></li>
              <li><a href="../index.html">首页</a></li> 
   	 		</ul>
   	 	</div>
   	 </div>
   </div>
<div id="main">
     <!-- 主体左半部分 -->
	 <div class="left_main fl clearfix">
	 	<div class="register_zone">
	 		<div class="register_captain"><strong><a href="../index.html">V2EX</a> / 节点导航</strong></div>
	 		<div class="register_content">
	 			<form action="post">
	 				<table>
	 					<tbody>
	 						<tr>
	 							<td class="register_td_left">用户名</td>
	 							<td class="register_td_right">
	 								<label for="username"></label>
	 								<input type="text" id="username" name="username" value="" /><br/><span>请使用半角的 a-z 或数字 0-9</span>
	 							</td>

	 						</tr><br/><br/>

	 						<tr>
	 							<td class="register_td_left">密码</td>
	 							<td class="register_td_right">
	 								<label for="password"></label>
	 								<input type="password" id="password" name="password" value="">
	 							</td>
	 						</tr>
	 						<tr>
	 							<td class="register_td_left">电子邮件</td>
	 							<td class="register_td_right">
	 								<label for="email"></label>
	 								<input type="email" id="email" name="email" value=""><br/><span>请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人</span>
	 							</td>
	 						</tr>
	 					</tbody>
	 				</table>
	 				   <label for="submit"></label>
                       <input type="submit" name="submit" id="submit" value="立即注册" />
	 			</form>
	 		</div>
	 	</div>
  </div>
	 <!-- 主体右半部分 -->
	 <div class="right_main fr clearfix">
	    <!-- 未登录时的个人信息部分 -->
	 	<div class="personal">
	 		<div class="personal_captain">
	 			<b>V2EX = way to explore</b><br /><br />
	 			<i>V2EX 是一个关于分享和探索的地方</i>
	 		</div>
	 		<div class="personal_content">
	 			<label for="register"></label>
	 			<input type="submit" id="register" name="submit" value="现在注册" onclick="javascript:window.location.href='../views/signup.html'"><br />
	 			<p>已注册用户请<a href="#">   登录</a></p>
	 		</div>
	 	</div>
  </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<!-- 底部footer区域 -->
  <div id="footer">
  	<div class="partner">
  		<ul>
  			<li><a>关于</a><strong>.</strong></li>
  			<li><a>FAQ</a><strong>.</strong></li>
  			<li><a>API</a><strong>.</strong></li>
  			<li><a>我们的愿景</a><strong>.</strong></li>
  			<li><a>广告投放</a><strong>.</strong></li>
  			<li><a>鸣谢</a><strong>.</strong></li>
  			<li><b>2032 人在线</b></li>
  			<li><b>最高记录 2447</b></li><strong>.</strong>
  		</ul>
  	</div>
  	<div class="copyright">
  	<strong>创意工作者们的社区</strong><br/><br/>
  	<strong>World is powered by solitude</strong><br/><br/><br/>
  	<b>VERSION: 3.9.7.5 · 25ms · UTC 02:06 · PVG 10:06 · LAX 18:06 · JFK 21:06</b><br/><br/>
  	<b>♥ Do have faith in what you're doing.</b><br/>
  	</div>
  	<div class="info"><a href="#">沪ICP备16043287号-1</a></div>
</body>
</html>